#information{
    margin-top: 10px;


}

#login_form{
    margin-top: 100px;
}

#logout:hover{
    cursor: pointer;
}
.new-article{
    margin-top: 100px;

}
#movie_cont{
    margin-top: 100px;
}
#wenda{
    margin-top: 50px;
    background-color: #eee;
}
.info-left{
    background-color: #fff;
    margin: 0 0 20px 0;
 }
.info-right{
    /*background-color: #fff;*/
}
.head-div{
    background: #fff;
    margin: 10px auto;
}
.head-div .head-title{
    padding: 10px 0 0 5px;
}
.head-div .head-title .total{
    margin-left: 10px;
}
#wenda .container .list-group .list-group-item .user-img{
    height: 50px;
    width: 50px;
    float: left;
}
#wenda .container .list-group .list-group-item .content{
    margin-left: 80px;
}

.panel{
    margin: 10px auto;
}