{% extends 'base.html' %}

{% block title %}电影{% endblock %}

{% block content %}
    <div class="container" id="movie_cont">

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>影片</th>
                    <th>综合票房(万)</th>
                    <th>票房占比</th>
                    <th>排片场次</th>
                    <th>排片占比</th>
                    <th>场均人次</th>
                    <th>上座率</th>
                </tr>
            </thead>
            <tbody>
            {% for each in data.data.list %}
                <tr>
                    <td><span>{{ forloop.counter }}、</span>{{ each.movieName }}</td>
                    <td>{{ each.boxInfo }}</td>
                    <td>{{ each.boxRate }}</td>
                    <td>{{ each.showInfo}}</td>
                    <td>{{ each.showRate}}</td>
                    <td>{{ each.avgShowView }}</td>
                    <td>{{ each.avgSeatView }}</td>
                </tr>
            {% endfor %}




            </tbody>

        </table>

    </div>





{% endblock %}

{% block script %}
    <script>

        $(document).ready(function () {
            var data = {{ data|safe }}
            console.log(data)
        })
    </script>
{% endblock %}
