{% extends 'base.html' %}

{% block title %}福利{% endblock %}

{% block content %}
<div id="wenda">
    <div class="head-div ">
        <div class="container">
            <div class="head-title">
                <p><span class="h3">问答</span><span class="total">共有200个问答</span></p>
            </div>
            <div class="head-sumary">
                <p>在 T社，我们不提倡 新手提问 ，如果你遇到难题，请先 搜索 再提问</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="info-left">
                    <ul class="nav nav-tabs">

                    <li class="active"><a href="#">默认</a></li>
                    <li><a href="#">精华贴</a></li>
                    <li><a href="#">回复最多</a></li>
                    <li><a href="#">0回复</a></li>

                    </ul>


                   <div class="list-group">

                        <a href="#" class="list-group-item">
                            <div>
                                <img src="/static/uploads/j0e3-fyscsmv3262948_k49kPTu.jpg" class="img-responsive user-img">
                            </div>
                            <div class="content">
                                 <h4>内容标题</h4>
                                <p class="list-group-item-text">这里是相关内容详情！</p>

                            </div>

                        </a>

                        <a href="#" class="list-group-item">
                            <div>
                                <img src="/static/uploads/j0e3-fyscsmv3262948_k49kPTu.jpg" class="img-responsive user-img">
                            </div>
                            <div class="content">
                                 <h4>内容标题</h4>
                                <p class="list-group-item-text">这里是相关内容详情！</p>

                            </div>

                        </a>

                       <a href="#" class="list-group-item">
                            <div>
                                <img src="/static/uploads/j0e3-fyscsmv3262948_k49kPTu.jpg" class="img-responsive user-img">
                            </div>
                            <div class="content">
                                 <h4>内容标题</h4>
                                <p class="list-group-item-text">这里是相关内容详情！</p>

                            </div>

                        </a>

                       <a href="#" class="list-group-item">
                            <div>
                                <img src="/static/uploads/j0e3-fyscsmv3262948_k49kPTu.jpg" class="img-responsive user-img">
                            </div>
                            <div class="content">
                                 <h4>内容标题</h4>
                                <p class="list-group-item-text">这里是相关内容详情！</p>

                            </div>

                        </a>
                    </div>


                </div>
            </div>


            <div class="col-md-3 infos-right">


                <div>
                    <button class="btn-info btn-lg btn-block">发表新问题</button>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">小贴士</h3>
                    </div>
                    <div class="panel-body">
                        世上本没有什么缘分，全靠我死皮赖脸
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">推荐的资源</h3>
                    </div>
                    <div class="panel-body">
                        世上本没有什么缘分，全靠我死皮赖脸
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">关注狼图腾的公众号</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/static/uploads/j0e3-fyscsmv3262948_k49kPTu.jpg" class="img-responsive">
                    </div>
                </div>

                 <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">合作伙伴</h3>
                    </div>
                    <div class="panel-body">
                        <p><a class="golink" href="#">糖糖家私房酱菜</a></p>
                        <p><a class="golink" href="#">糖糖家私房酱菜</a></p>
                        <p><a class="golink" href="#">糖糖家私房酱菜</a></p>

                    </div>
                </div>


            </div>
        </div>
        </div>

    </div>
</div>







{% endblock %}



